<h1><%= @current_project.description %> Project</h1>
<% if @current_division.nil? %>
  <p>This project is not currently in a division</p>
<% else %>
<h4><%= @current_division.name %></h4>
<% end %>
<hr>

<form action="/project_edit/<%= @current_project.id %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label for="description_input">Update Project Name</label>
  <input type="text" id="description_input" name="description_input">

  <button type="submit" class="btn btn-primary">Update Project</button>
</form>

<form action="/project_delete/<%= @current_project.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-danger">Delete Project</button>
</form>

<p><a href="/">Home</a></p>
<p><a href="/project_division/<%= @current_project.id %>">Update this Project's Division</a></p>
<p><a href="/projects">Back</a></p>
